body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-container {
  position: relative;
  max-width: 1000px;
  margin-left: 500px;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
}

img {
  width: 50%;
  height: auto;
}

.fade {
  animation: fade 2s ease-in-out;
}


.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}